.container{
  height: 500px;
  width: 500px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content:center ;
}

div{
  height: 100px;
  width: 100px;
}
.parent{
  height: 300px;
  width: 300px;
  background-color: cyan;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
  position: relative;
  left: 100px;
}
.blue{
  background-color: blue;
  position: relative;
  left: 200px;
}