#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e2f19;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}
