div{
  width: 100px;
  height: 100px;
  background-color: cyan;
  border: 2px solid darkcyan;
  transition-property: width ;
  transition-duration: 2s;
  transition-timing-function: linear;
}

div:hover{
  width: ;
}